

#about {
   background: var(--color-white);
}

.about-container {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: left;
  min-height: 100vh;
  width: 100%;
}

.postcard {
  width: 526px;
  height: auto;
  transition: transform 0.3s ease;
  opacity: 0;
  border: 1px solid black;
}

.about-strip {
  width: 49.25px;
  height: auto;
  transition: transform 0.3s ease;
  opacity: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.postcard[data-aos="fade-up"] {
  opacity: 1;
}

.about-strip[data-aos="fade-up"] {
  opacity: 1;
}

.about-text {
  max-width: 800px;
  color: black;
  font-family: old standard tt, serif;
  font-size: 20px;
  line-height: 1.6;
  opacity: 0;
  padding-left: 80px;
  margin-top: -0px;
}

.about-text[data-aos="fade-up"] {
  opacity: 1;
  transform: translateY(0);
}

.about-header {
  font-family: 'Pinyon Script', cursive;
  font-size: 75px;
  color: var(--color-rosewood);
  text-align: left;
  margin-bottom: -10px;
}

.about-ender {
  font-family: 'Pinyon Script', cursive;
  font-size: 75px;
  color: var(--color-rosewood);
  text-align: left;
  padding-left: 520px;
  margin-top: -80px;
}

.about-social-links {
  display: flex;
  gap: 20px;
  margin-top: -30px;
}

.about-social-icon {
  color: var(--color-rosewood);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-rosewood);
}

.about-social-icon:hover {
  color: black;
  border-color: black;
  transform: translateY(-3px);
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.postcard-fallback {
  animation: slideUpFade 1s ease-out 0.2s both;
}

.about-text-fallback {
  animation: slideUpFade 1s ease-out 0.4s both;
}

.about-strip-fallback {
  animation: slideUpFade 1s ease-out 0.2s both;
}