.footer {
  background: var(--color-white);
  padding: 20px 10px;
  text-align: center;
  position: relative;
}

.footer-container {
  max-width: 1000px;
  margin: 0 auto;
}

.footer-title {
  font-size: 35px;
  font-family: "Old Standard TT", serif;
  color: black;
  margin-bottom: 10px;
}

.footer-tagline {
  color:  black;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 30px auto;
 font-family: "Cutive Mono", monospace;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.social-icon {
  color: var(--color-rosewood);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--color-rosewood);
}

.social-icon:hover {
  background-color: rgba(220, 233, 238, 0.35);
  transform: scale(1.1);
}

.footer-divider {
  border-top: 1px solid #121111;
  margin: 10px 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.footer-copy {
  display: flex;
  gap: 6px;
  color: var(--color-rosewood);
  align-items: center;
  font-size: 14px;
}

.footer-heart {
  color: #f7aeae;
  animation: pulse 1.5s infinite;
}

.footer-links {
  display: flex;
  gap: 35px;
}

.footer-links a {
  color: #DCE9EE;
  text-decoration: none;
  font-size: 14px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-links a:hover {
  color: #F0FAFF;
  transform: scale(1.05);
}

.footer-message {
  margin-top: 10px;
  font-size: 13px;
  color: var(--color-rosewood);
}

@keyframes pulse {
  0%, 100% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.2); opacity: 0.7; }
}
