#home {
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
}

.videoHome {
  overflow-y: hidden;
  overflow-x: hidden;
  padding-top: 50px;
  padding-bottom: 0px;
  width: 100%;
  height: 600px;
  object-fit: cover;
  opacity: 100%;
  object-position: center;
  transform: scale(1.02);
  transform-origin: center center;
  border-bottom: 1px solid var(--color-black);
}

.home-content {
  width: 100%;
  height: 100%;
  background: var(--color-white);
  display: flex;
}

.name {
  font-family: 'Old Standard TT', serif;
  color: var(--color-black);
  padding-top: 100px;
  padding-left: 100px;
  font-size: 40px;
  text-align: left;
}

.subtitle {
  font-family: 'Cutive mono' , monospace;
  color: var(--color-black);
  padding-right: 200px;
  font-size: 20px;
  text-align: left;
}

.title{
  font-family: 'Pinyon Script', cursive;
  color: var(--color-rosewood);
  padding-left: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 220px;
  text-align: left;
}