.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-white);
  z-index: 1000;
  border-bottom: 1px solid black;
}


.links {
  list-style: none;
  display: flex;
  gap: 130px;
  justify-content: center;
  padding-right: 30px;
  cursor: pointer;
}

.links a {
  font-family: 'Old Standard', serif;
  text-decoration: none;
  color: black;
  font-size: 22.5px;
  transition: color 0.3s ease;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.links a:hover {
  color: #121111;
}

.logo {
  list-style: none;
  margin-left: 15px;
  padding: 0;
}

.logo li {
  list-style: none;
}

.logo a {
  font-family: 'Pinyon Script', cursive;
  text-decoration: none;
  color: var(--color-rosewood);
  font-size: 30px;
  transition: color 0.3s ease;
}

.logo a:hover {
  color: #121111;
}
