
img {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  width: 100%;
  height: 848px;
  object-fit: cover;
  display: block;
}

.video-container {
  width: 100%;
  height: 825px;
  background-color: #000000;
}

.videoHome {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 30px;
  width: 100%;
  height: 825px;
  object-fit: cover;
  display: block;
  opacity: 70%;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: auto;
  z-index: 10; 
}